$toast-min-height: 40px;
$toast-bg: rgba(0, 0, 0, .75);
$tab-height: 40px;
$height: 32px;
$grey: #ddd;
$font-size: 14px;
$error-color: #f1435d;
$disabled-text-color: grey;
$color: #333;
$button-height: 32px;
$button-bg: #fff;
$button-active-bg: #eee;
$box-shadow-color: rgba(0, 0, 0, 0.5);
$border-radius: 4px;
$border-color: #999;
$border-color-hover: #666;
$blue: blue;
$animation-duration: .5s;
